button {
    --padding-block: calc(var(--font-size) / 8);
    --radius: calc((var(--font-size) + var(--padding-block) + 2rem) / 2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-size: var(--font-size);
    padding-block: var(--padding-block);
    padding-inline: var(--radius);
    border-radius: var(--radius);
    margin: 1rem;
}

button:after{
    --padding: calc(var(--font-size) / 8);
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--padding);
    border-radius: calc(var(--radius) + var(--padding));
    background-image: linear-gradient(
        to bottom right, 
        hsl(var(--angle), 100%, 50%),
        hsl(calc(var(--angle) + var(--step)), 100%, 10%),
        hsl(calc(var(--angle) + var(--step)*2), 100%, 30%)
    );
    box-shadow: calc(var(--padding) * 1) calc(var(--padding) * 0.5) calc(var(--padding) * 7.5) hsla(calc(var(--angle) + var(--step)*2), 100%, 15%, 0.625), 
                calc(var(--padding) * -1) calc(var(--padding) * -0.5) calc(var(--padding) * 7.5) hsla(calc(var(--angle) + var(--step)), 100%, 30%, 0.625);
}