button {
    --padding-block: calc(var(--font-size) / 8);
    --radius: calc((var(--font-size) + var(--padding-block) + 0.5rem) / 2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-size: var(--font-size);
    padding-block: var(--padding-block);
    padding-inline: var(--radius);
    border-radius: var(--radius);
    margin: calc(var(--font-size) / 4);
    cursor: pointer;
    z-index: auto;
}

button:active, button:hover {
    background-color: rgba(0,0,0,0.125);
}

button:after{
    --padding: calc(var(--font-size) / 8);
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--padding);
    border-radius: calc(var(--radius) + var(--padding));
    background: var(--button-gradient, linear-gradient(135deg, #2196f3, #21cbf3, #ffffff));
}