.home {
    position: relative; /* 讓 Squares 的絕對定位以 .home 為基準 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden; /* 防止 canvas 溢出 */
}

.menu {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; /* 將排列方向由橫向改成直向 */
    align-items: center;   /* 確保所有掣喺中間對齊 */
    gap: 2dvh;             /* 喺每個掣之間加啲空位，等佢哋唔好黐埋一齊 */
}
