.card {
	height: auto;
	width: calc(var(--card-width, 75) * 1vw);
	width: calc(var(--card-width, 75) * 1dvw);
	background: #000000;
	border-radius: calc(var(--card-width, 75) / 10 * 1vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.card::after,
.card:hover::before {
	--inset: -0.125vw;
	content: "";
	position: absolute;
	z-index: -1;
	inset: var(--inset);
	border-radius: calc(var(--card-width, 75) / 10 * 1vw - var(--inset));
	background: conic-gradient(
		from var(--angle),
		#000000,
		#000000,
		var(--card-color-1),
		#000000,
		#000000,
		var(--card-color-2),
		#000000
	);
}

.card:hover::before {
	z-index: -2;
	filter: blur(0.5vw);
	opacity: 0.75;
	animation: glowing-border 3.14s linear infinite;
}

.card:hover::after {
	animation: glowing-border 3.14s linear infinite;
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes glowing-border {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
