.card {
	aspect-ratio: 5/8;
	height: calc(var(--card-height, 75) * 1vh);
	height: calc(var(--card-height, 75) * 1dvh);
	background: rgba(0,0,0,1);
	border-radius: calc(var(--card-height, 75) / 20 * 1vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    
}

.card::after,
.card:hover::before {
	--inset: -0.375cqh;
	content: "";
	position: absolute;
	z-index: -1;
	inset: var(--inset);
	border-radius: calc(var(--card-height, 75) / 20 * 1vh - var(--inset));
	background: conic-gradient(
		from var(--angle),
		#000000,
		#000000,
		#000000,
		#000000,
		var(--card-color-1),
		#000000,
		#000000,
		#000000,
		#000000,
		var(--card-color-2),
		#000000
	);
}

.card:hover::before {
	z-index: -2;
	filter: blur(0.5vw);
	opacity: 0.75;
	animation: glowing-border 3.14s linear infinite;
}

.card:hover::after {
	animation: glowing-border 3.14s linear infinite;
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes glowing-border {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
