.red-bg {
  background-color: #660000;
}

.blue-bg {
  background-color: #000066;
}

.red-score-bg {
  background-color: #AA0000;
}

.blue-score-bg {
  background-color: #0000AA;
}

.scoreboard {
    aspect-ratio: 2 / 1;
    width: 100vw;
    width: 100dvw;
    height: 50vw;
    height: 50dvw;
    background-color: #222222;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    width: 100%;
    flex: 2;
}
.red-name {
    display: flex;
    height: 100%;
    flex: 1;
}
.blue-name {
    display: flex;
    height: 100%;
    flex: 1;
}

.midbottom {
    display: flex;
    width: 100%;
    flex: 9;
}

.red-log {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 19;
}

.red-score {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 39;
}

.match-info {
  display: flex;
  height: 100%;
  flex: 34;
  background-color: #000000;
}

.blue-score {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 39;
}

.blue-log {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 19;
}

.red-score-text {
  display: flex;
  flex: 7;
  width: 100%;
}

.blue-score-text {
  display: flex;
  flex: 7;
  width: 100%;
}

.red-score-info {
  display: flex;
  flex: 2;
  width: 100%;
}

.blue-score-info {
  display: flex;
  flex: 2;
  width: 100%;
}

.red-ref-log {
  display: flex;
  flex: 7;
  width: 100%;
}

.blue-ref-log {
  display: flex;
  flex: 7;
  width: 100%;
}

.red-gamjeom {
  display: flex;
  flex: 2;
  width: 100%;
}

.blue-gamjeom {
  display: flex;
  flex: 2;
  width: 100%;
}