p {
  margin: 1vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-bg {
  background-color: #660000;
}

.blue-bg {
  background-color: #000066;
}

.scoreboard {
    aspect-ratio: 2 / 1;
    width: 100vw;
    width: 100dvw;
    flex-direction: column;
}

.scoreboard-header {
    display: flex;
    width: 100vw;
    height: 9vw;
}

.name {
    font-size: 4vw;
    font-weight: bold;
    height: 100%;
}
.red-name {
    width: 50vw;
}

.blue-name {
    width: 50vw;
}

.scoreboard-content {
    display: flex;
    width: 100vw;
    height: 42vw;
    flex-direction: row;
    background-color: #111111;
}

.row {
    display: flex;
    height: 33vw;
}

.info {
    display: flex;
    flex-direction: column;
}

.red-info {
  display: flex;
}

.blue-info {
  display: flex;
}

.score {
    font-size: 20vw;
    font-weight: bold;
    width: 27vw;
}

.red-score {
  background-color: #CC0000;
}

.blue-score {
  background-color: #0000CC;
}

.log {
    width: 13vw;
}

.match-info {
  width: 25vw;
  height: 100%;
  font-size: 4vw;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamjeom {
    display: flex;
    width: 40vw;
    height: 9vw;
    flex-direction: column;
}

.red-gamjeom {
    
}

.blue-gamjeom {
}

