.mask {
    width: 100cqi;
    height: var(--browser-height);
    width: var(--browser-width);
    height: var(--browser-height);
    background-color: hsla(0, 0%, 5%, 0.875);
    position: fixed;
    top: 0;
    left: 0;
}