.red-bg {
	background-color: var(--red-secondary);
}

.blue-bg {
	background-color: var(--blue-secondary);
}

.red-score-bg {
	background-color: var(--red-primary);
}

.blue-score-bg {
	background-color: var(--blue-primary);
}

.screen {
	--screen-width: min(100dvw, 200dvh);
	--screen-height: min(100dvh, 50dvw);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 2 / 1;
	width: var(--screen-width);
	height: var(--screen-height);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.top {
	display: flex;
	width: var(--screen-width);
	height: calc(var(--screen-height) * 2/11);
}

.red-name {
	display: flex;
	width: calc(var(--screen-width)/2);
	height: calc(var(--screen-height) * 2/11);
	justify-content: center;
	align-items: center;
}

.blue-name {
	display: flex;
	width: calc(var(--screen-width)/2);
	height: calc(var(--screen-height) * 2/11);
	justify-content: center;
	align-items: center;
}

.name-font {
	font-size: 3vw;
	font-weight: bold;
}

.midbottom {
	display: flex;
	width: var(--screen-width);
	height: calc(var(--screen-height) * 9/11);
}

.red-log {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 19/150);
	height: calc(var(--screen-height) * 9/11);
}

.red-score {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 39/150);
	height: calc(var(--screen-height) * 9/11);
}

.match-info {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 34/150);
	height: calc(var(--screen-height) * 9/11);
}

.blue-score {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 39/150);
	height: calc(var(--screen-height) * 9/11);
}

.blue-log {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 19/150);
	height: calc(var(--screen-height) * 9/11);
}

.red-score-text {
	display: flex;
	width: calc(var(--screen-width) * 39/150);
	height: calc(var(--screen-height) * 7/11);
	justify-content: center;
	align-items: center;
}

.blue-score-text {
	display: flex;
	width: calc(var(--screen-width) * 39/150);
	height: calc(var(--screen-height) * 7/11);
	justify-content: center;
	align-items: center;
}

.score-font {
	font-size: 20vw;
	font-weight: bold;
}

.red-score-info {
	display: flex;
	width: calc(var(--screen-width) * 39/150);
	height: calc(var(--screen-height) * 2/11);
}

.blue-score-info {
	display: flex;
	width: calc(var(--screen-width) * 39/150);
	height: calc(var(--screen-height) * 2/11);
}

.red-ref-log {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 19/150);
	height: calc(var(--screen-height) * 7/11);
	align-items: center;
	gap: 1vw;
}

.blue-ref-log {
	display: flex;
	flex-direction: column;
	width: calc(var(--screen-width) * 19/150);
	height: calc(var(--screen-height) * 7/11);
	align-items: center;
	gap: 1vw;
}

.red-gamjeom {
	display: flex;
	flex-direction: column-reverse;
	flex: 2;
	align-items: center;
}

.blue-gamjeom {
	display: flex;
	flex-direction: column-reverse;
	flex: 2;
	align-items: center;
}

.gamjeom-font {
	font-size: 2vw;
	font-weight: bold;
}

.gamjeom-number {
	font-size: 5vw;
	font-weight: bold;
	margin: 0.5vw;
}

.match {
	padding: 0.5vw;
}

.match-number {
	display: flex;
	flex-direction: column;
	flex: 2;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 5vw;
	font-weight: bold;
}

.match-font {
	display: flex;
	flex-direction: column;
	flex: 2;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
	font-weight: bold;
}

.timer {
	display: flex;
	flex-direction: column;
	margin-block: 1vw;
}

.game-timer {
	display: flex;
	flex: 2;
	background-color: #000000;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	border: 0.5vw solid var(--yellow-primary);
}

.timer-font {
	font-size: 9vw;
	font-weight: bold;
}

.time-out {
	display: flex;
	width: 100%;
	background-color: var(--yellow-primary);
	color: #000000;
	justify-content: center;
	align-items: center;
}

.round-info {
	display: flex;
	flex-direction: column;
	flex: 2;
	width: 100%;
	align-items: center;
}

.round-font {
	font-size: 4vw;
	font-weight: bold;
}

.round-number {
	font-size: 5vw;
	font-weight: bold;
}

.log-row {
	--log-width: calc(var(--screen-width) * 19/150);
	display: flex;
	width: var(--log-width);
}

.log-icon, .ref-num {
	--icon-width: calc(var(--screen-width) * 4/150 * 0.875);
	width: calc(var(--icon-width));
	height: calc(var(--icon-width));
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--icon-width) - 0.25vw);
	margin: 0.375vw;
	color: transparent;
	font-weight: bold;
}
